@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --white: #FDFDFD;
    --light-gray: #F0F4F9;
    --dark-gray: #D9DFE5;
    --gray: #E6ECF3;
    --black: #161616;
    --green: #BBCC87;
    --red: #E07D7D;
}

* {
    font-family: "Ubuntu", sans-serif;
    color: var(--black);
}

/*CABEÇALHO*/

header {
    background-color: var(--light-gray);
    padding: 1.5rem !important; 
}

#logo_cabecalho {
    height: 90px !important;
    margin: 0.25rem !important; 
}

header .flex-column {
    margin-top: 0 !important; 
}

a {
    text-decoration: none;
    color: var(--black);
}

@media screen and (min-width: 768px) {
    #user {
        position: absolute;
        right: 0;
        margin-right: 3rem;
    }
}

@media screen and (max-width: 768px) {
    #logo_cabecalho {
        position: absolute;
        right: 0;
        margin: -1rem 0.5rem !important;
    }

    .navbar-toggler {
        margin: -1rem auto 1rem -2rem !important;
    }
}

@media screen and (max-width: 992px) {
    #titulo_cabecalho {
        display: none;
    }

    #user {
        margin-top: 4rem;
    }
}

.navbar-collapse.show,
.navbar-collapse.collapsing {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--light-gray); 
    z-index: 1050;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-collapse .btn-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.navbar-collapse .navbar-nav {
    text-align: center;
}    

.btn-close {
    position: absolute;
    left: 0;
    margin: 1rem 2.5rem;
}

/*FOOTER*/
footer {
    background-color: var(--light-gray);
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        font-size: small;
    }
}

/*BOTÕES*/
.btn {
    font-weight: 500 !important;
    margin: 1rem;
    padding: 0.5rem 1rem !important;
}

.btn_verde {
    background-color: var(--green) !important;
}

.voltar {
    background-color: var(--gray) !important;
}

.excluir {
    background-color: var(--red) !important;
}

/*TÍTULOS*/
h2 {
    font-size: 1.5rem !important;
    margin: 1.4rem 0 0 0 !important; 
}

h4 {
    font-size: 1.2rem !important;
}

/*TABELAS*/
.table-striped > tbody > tr:nth-of-type(2n+1) > * {
    --bs-table-bg-type: var(--light-gray) !important;
}

thead {
    --bs-table-bg-type: var(--dark-gray) !important;
}

/*FORMULÁRIOS*/
.form-control {
    background-color: var(--light-gray) !important;
    border: none !important;
}

.form-control:focus {
    background-color: var(--light-gray) !important;
    box-shadow: none !important;
}

/* MODALIDADES*/
.modalidade{
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: background-color 0.3, transform 0.3s;
}

.modalidade:hover {
    background-color: #D9DFE5;
    transform: scale(1.02);
}

.modalidade h2{
    color: #161616;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.modalidade.content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.modalidade img:hover{
    transform: scale(1.05);
}

.modalidade p{
    flex: 1;
    line-height: 1.6;
    font-size: 0.96em;
    margin: 0px;
}

.modalidade.content > div:last-child{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.caroussel{
    display: flex;
    flex-direction: column;
    width: 200px;
    flex: 0px 0px 200px;
    margin-right: 20px;
}

.caroussel img{
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 5px 0;
    transition: transform 0.3s;
}

.caroussel img:hover{
    transform: scale(1.1);
}

.caroussel-inner{
    align-items: center;

}


